---
import BaseHead from "../components/BaseHead.astro";
import HeroSection from "../components/HeroSection.astro";
import ProjectsGrid from "../components/ProjectsGrid.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <BaseHead
      title="Daniel Kulichkov - Full-stack developer"
      description="Daniel Kulichkov is a full-stack developer crafting scalable, safe, performant applications."
    />
  </head>
  <body>
    <HeroSection />
    <ProjectsGrid />
  </body><Footer />
</html>
